@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

@import "tailwindcss";

.font-cursive {
  font-family: 'Dancing Script', cursive;
}