@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Playfair+Display:wght@400;600;700&family=Outfit:wght@300;400;500;600&family=Dancing+Script:wght@700&display=swap');
@import "tailwindcss";

@layer base {
  html {
    font-family: 'Poppins', sans-serif;
  }
}
